@model List<CargoSync.DataAccess.Models.Delivery>

@{
    ViewData["Title"] = "CargoSync";
}

<section class="dashboard">
    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <span class="text">Dashboard</span>
            </div>
            <div class="boxes">
                <div class="box box1">
                    <span class="number-packages">@ViewData["NewPackagesCount"]</span>
                    <span class="text">New Packages</span>
                </div>
                <div class="box box2">
                    <span class="number-intransit">@ViewData["InTransitCount"]</span>
                    <span class="text">In Transit</span>
                </div>
                <div class="box box3">
                    <span class="number-delivered">@ViewData["DeliveredCount"]</span>
                    <span class="text">Delivered</span>
                </div>
            </div>
        </div>
        <div class="activity">
            <div class="title">
                <span class="text">Revenue</span>
            </div>
            <div class="activity-data">
            </div>
        </div>
        <div class="activity">
            <div class="title">
                <span class="text">Recent Activity</span>
            </div>
            <div class="activity-data">
                <table class="table">
                    <tbody>
                        <tr class="row-header">
                            <td><span class="data-title">DeliveryID</span></td>
                            <td><span class="data-title">Destination</span></td>
                            <td><span class="data-title">ETA</span></td>
                            <td><span class="data-title">Status</span></td>
                        </tr>

                        @foreach (var order in Model)
                        {
                            <tr class="row">
                                <td><span class="data-title">@order.DeliveryID</span></td>
                                <td><span class="data-title">@order.Destination</span></td>
                                <td><span class="data-title">@order.ETA</span></td>
                                <td class="@GetStatusClass(order.Status)"><span class="data-title">@order.Status</span></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
    </div>
</section>

@functions {
    string GetStatusClass(string status)
    {
        switch (status)
        {
            case "Delayed":
                return "text-delayed"; 
            case "On going":
                return "text-ongoing"; 
            case "Finished":
                return "text-finished";
            default:
                return "";
        }
    }
}